@import "main.scss";
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');



.app {
  text-align: center;
  background-color: #512DA8;
  height: 100vh;
  position: relative;
}
.app_title_wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
  // background: red;
  flex-direction: row;
  align-items: center;
}
.app_image {
  height: 60px;
  margin-right: 10px;
}

.app_title {
  font-family: 'Quantico', sans-serif;
  font-size: 2rem;
  color: #fff;
}
.app_tables {
  background:red;
  height: 100px;
  width: 100px;
}
